@use "@material/theme" with (
  $primary: #3700b3,
  $secondary: #018786,
  $on-primary: #ffffff,
  $on-secondary: #ffffff,
);

@use "@material/card";
@use "@material/fab";
@use "@material/icon-button";
@use "@material/slider/slider";
@use "@material/switch";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";

@include card.core-styles;
@include fab.core-styles;
@include icon-button.core-styles;
@include slider.core-styles;
@include switch.core-styles;
@include textfield.core-styles;

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

$abm-density-scale: 0;

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    height: 100%;
    margin: 0;
}

// #abm-canvas {
//     transform: matrix(0.5, 0, 0, 0.5, -400, -250); // BUG: If the canvas is transformed, Chrome shows it on top of the panel.
// }

#abm-canvas-container {
    height: 100%;
}

#abm-card {
    background-color: #f1f1f1;
    padding: 0 10px;
    position: absolute;
    touch-action: none;
    width: 370px;
    // transform: matrix(2, 0, 0, 2, -400, -250);  // BUG: If the panel is transformed, the Material components get distorted.
}

.abm-center {
    text-align: center;
}

.abm-param-inline {
    display: flex;
    // background-color: yellow;
}

#abm-logs {
    font-size: small;
    height: 100px;
    overflow: auto;
    p {
        margin: 0;
    }
}

.abm-padded {
    padding: 10px 0 10px 0;
}

.abm-titles {
    color: rgba(0, 0, 0, 0.54);
    font-weight: 500;
    text-transform: uppercase;
    user-select: none;
    &:hover, &:focus {
      color: rgba(0, 0, 0, 0.87);
    }
}

.abm-section-title-icons {
    font-size: inherit !important;
    line-height: inherit !important;
    vertical-align: -2px;
}

html {
    height: 100%;
}

.mdc-slider {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
    .mdc-slider__input {
          cursor: pointer;
          left: 0;
          margin: 0;
          height: 100%;
          opacity: 0;
          pointer-events: none;
          position: absolute;
          top: 0;
          width: 100%;
      }
}

.mdc-text-field {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100px;
    margin-left: 20px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.mdc-text-field {
    @include textfield.outlined-density(-2); // Fixed to match the height of sliders
}
